<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
  <title>Event app</title>


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="//api-maps.yandex.ru/2.1/?apikey=API-KEY&lang=ru_RU"
    type="text/javascript">
  </script>


</head>
<header>
  <nav class="navbar navbar-light bg-light">
    {{#if user}}
    <a class="navbar-brand" href="/user">{{user.userName}}</a>
    <a class="navbar-brand" href="/logout">logout</a>
    {{else}}
    <a class="navbar-brand" href="/login">login</a>
    {{/if}}
  </nav>

</header>


<body style="padding-left: 30px;">
  <main role="main" class="row light">
    {{{body}}}
  </main>
</body>
<script defer src="/js/maps.js"></script>
<script defer src="/js/application.js"></script>

</html>