
<form id="regForm" method="POST" action="/registration">
  <div class="form-group">
    <label for="formGroupExampleInput2">Email</label>
    <input name="email" type="email" class="form-control" placeholder="Enter your email">
  </div>
  <div  class="form-group">
    <label for="formGroupExampleInput">login</label>
    <input name="login" type="text" class="form-control" placeholder="Enter your login">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Password</label>
    <input name="password" type="password" class="form-control" placeholder="Enter your password">
  </div>
  <p><input id="reg-btn" type="submit" class="btn btn-primary"></p>
</form>

